#title, #payoff {
		text-align: center;
}

#logo {
	margin: 10px;
}

#banner {
		display: flex;
}

html {
	width: 100%;
}

body {
	width: 100%;
	background: #F5F5F5;
  	color: #000000;
  	font-family: "Arial", "Helvetica", "sans-serif";
	margin: 0px;
	letter-spacing: normal;
	line-height: normal;
	word-spacing: normal;
}

h1, h2 {
	font-family: "Notable" "Arial";
}

#footer {
	margin-top: 50px;
	background-color: #AAABA3;
	width: 100%;
	height: 100px;
}

#footer p {
	padding: 10px 0 0 10px;
}

#cookie {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 150px;
	opacity: 50%;
	background: #FA0;
	text-align: center;
}

#cookie p {
	color: #FFF;
}

nav input {
	display: none;
}

nav a:hover {
	color: red;
}

nav a:active {
	font-weight: bold;
}

/* index styling */

#index {
	display: flex;
	flex-direction: column;
}

#video-player {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 30px 0 10px 0;
}

#solar-products {
	width: 60%;
}

#solar-products footer {
	clear: both;
}

#solar-products article {
	margin: 10px 50px 10px 80px;
	height: 100%;
	clear: both;
	margin: 50px 0 50px 0;
}

#solar-reasons li {
	margin-bottom: 10px;
}

/* how solar works styling */

#how-solar-works {
	display: grid;
	grid-template-columns: auto;
	grid-auto-rows: auto;
	column-gap: 20px;
  	row-gap: 20px;
}

.banner-grid {
	grid-area: header;
}

#solar-panel {
	grid-area: solar-panel;
	margin: 0 20px 0 20px;
}

#solar-panel img {
	width: 200px;
	height: 200px;
	align-self: center;
	margin-top: 20px
}

#charge-controller {
	grid-area: charge-controller;
	margin: 0 20px 0 20px;
}

#battery-system {
	grid-area: battery-system;
	margin: 0 20px 0 20px;
}

#dc-power {
	grid-area: dc-power;
	margin: 0 20px 0 20px;
}

#inverter {
	grid-area: inverter;
	margin: 0 20px 0 20px;
}

#inverter img {
	width: 200px;
	height: 225px;
	align-self: center;
	margin-top: 20px
}

#ac-power {
	grid-area: ac-power;
	margin: 0 20px 0 20px;
}

#aside-products {
	display: flex;
	justify-content: space-around;
	margin-right: 0 auto 0 auto;
}

.aside-products-grid {
	grid-area: aside-products;
	border-top: #18181B solid 10px; /* border-top-color border-top-style border-top-width */
	padding-top: 60px;
}

#aside-products img {
	width: 100%;
	height: auto;
	max-width: 200px;
	min-width: 180px;
}

.footer-grid {
	grid-area: footer;
}

/* solar eu styling */

#renewable-energy-table th, td {
	border-color: black;
	border-width: 2px;
	border-style: double;
}

#renewable-energy-table th {
	background-color: #443E3E;
	color: white;
}

#renewable-energy-table td:first-child {
	padding-right: 20px;
	background-color: #FF0;
}

#renewable-energy-table tr:nth-child(even) {
	background-color: #CFF;
}

#renewable-energy-table tr:nth-child(odd) {
	background-color: #FFF;
}

#solar-eu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.banner-flex {
	width: 100%;
}

#table-info {
	width: 100%;
}

/* contact styling */

#contact {
	display: grid;
	grid-template-columns: auto;
	grid-auto-rows: auto;
	column-gap: 20px;
  	row-gap: 20px;
}

.aside-products-contact {
	grid-area: aside-products-contact;
	align-content: center;
}

.aside-products-contact a {
	align-self: center;
}

#contact-info {
	grid-area: contact-info;
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

#contact-form  {
	grid-area: contact-form;
	width: 50%;
	margin: auto;
}

#contact-form fieldset {
	margin: 50px auto 100px auto;
	display: flex;
	flex-direction: column;
}

#contact-form fieldset input {
	margin-bottom: 20px;
}

#contact-form fieldset label {
	margin-top: 10px;
}

#contact-form fieldset textarea {
	width: 100%;
	min-width: 200px;
	resize: none;
}

#contact-form fieldset #submit-button {
	width: 100px;
	margin-top: 20px;
}

@media screen and (min-width: 1280px) {
	#solar-reasons {
		width: 225px;
		color: white;
		padding: 10px 20px 10px 10px;
		right: 0px;
		top: 40%;
		margin-right: 2%;
	 	position: fixed;
		background-color: #616161;
	}

	#solar-products {
		margin: 10px 50px 10px 80px;
	}

	#solar-products img {
		float: left;
		margin: 10px 20px 10px 0;
	}

	/* how solar works styling */

	#how-solar-works {
		grid-template-areas:
			"header header header"
			"charge-controller solar-panel battery-system"
			"charge-controller solar-panel battery-system"
			"inverter solar-panel battery-system"
			"inverter solar-panel dc-power"
			"inverter solar-panel dc-power"
			"inverter solar-panel dc-power"
			"inverter ac-power ac-power"
			"aside-products aside-products aside-products"
			"aside-products aside-products aside-products"
			"footer footer footer";
	}

	#inverter {
		display: flex;
		flex-direction: column;
	}

	#solar-panel {
		display: flex;
		flex-direction: column;
	}

	/* solar eu styling */

	#renewable-energy-table {
		padding-left: 100px;
		flex: 1 0 40%; /* flex-grow flex-shrink flex-basis */
	}

	#table-info {
		padding: 20px 0 20px 100px;
	}

	.aside-products-flex {
		display: flex;
		flex-direction: column;
		flex: 1 0 15%; /* flex-grow flex-shrink flex-basis */
		align-items: center;
	}

	/* contact styling */

	#contact {
		grid-template-areas:
			"header header header"
			"contact-info contact-info contact-info"
			"contact-form contact-form aside-products-contact"
			"footer footer footer";
	}
}

@media screen and (min-width: 601px) and (max-width: 1279px) {
	html, body {
		overflow-x: hidden;
	}

	.video-player video {
		min-width: 601px;
	}

	#solar-reasons {
		margin: 50px auto 10px auto;

	}

	#solar-products {
		display: flex;
		flex-direction: column-reverse;
		margin: 10px 50px 10px 40px;
		width: 90%;
		float: left;
	}

	#solar-products img {
		float: right;
		margin: 10px 0 10px 20px;
	}

	/* how solar works styling */

	#how-solar-works {
		grid-template-areas:
			"header header"
			"solar-panel charge-controller"
			"solar-panel charge-controller"
			"battery-system charge-controller"
			"battery-system inverter"
			"battery-system inverter"
			"battery-system inverter"
			"ac-power ac-power"
			"ac-power ac-power"
			"aside-products aside-products"
			"footer footer ";
	}

	#dc-power {
		display: none;
	}

	#solar-panel img {
		display: none;
	}

	#inverter img {
		display: none;
	}

	/* solar eu styling */

	#renewable-energy-table {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	#renewable-energy-table table, footer {
		align-self: center;
	}

	.aside-products-flex {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.aside-products-flex a:last-child {
		display: none;
	}

	#table-info {
		padding-left: 5%;
	}

	/* contact styling */

	.aside-products-grid a:last-child {
		display: none;
	}

	#contact {
		grid-template-areas:
			"header header"
			"contact-info contact-info"
			"contact-form aside-products-contact"
			"footer footer";
	}
}

@media screen and (min-width: 601px) {
	/* Generic styling for devices bigger than a mobile phone */

	#banner {
		flex-direction: column;
	}

	nav {
		background-color: #18181B;
		width: 100%;
	}

	.menu {
		display: flex;
		flex-direction: row;
		padding: 1px 0 5px 45px;
		justify-content: center;
		align-items: center;
		list-style: none;
	}

	.menu a {
		color: white;
	}

	.menu li {
		min-width: 120px;
		padding: 0 20px 0 20px;
	}

	#solar-products img {
		width: 200px;
		height: 180px;
	}

	#contact {
		grid-template-areas:
			"header header"
			"contact-info contact-info"
			"contact-form aside-products-contact"
			"footer footer";
	}

	.aside-products-contact {
		flex-direction: column;
		padding: 20px 0 20px 40px;
		width: 70%;
	}
}

@media screen and (max-width: 600px) {
	html, body {
		overflow-x: hidden;
		font-size: 16px;
	}

	#banner h1 {
		margin-left: 20px;
	}

	#banner h2 {
		margin-left: 20px;
	}

	#logo {
		display: none;
	}

	#banner {
		width: 100%;
		border-bottom: 10px solid #18181B;
	}

	#titles {
		padding-right: 50px;
	}

	nav {
		background-color: #18181B;
		width: 25%;
		padding-top: 8px;
		padding-bottom: 4px;
		padding-left: 10px;
		position: relative;
		z-index: 1;
	}

	nav a {
		color: #18181B;
		text-decoration: none;
	}

	nav a:hover {
		color: #EA1010;
	}

	nav input {
	  	display: block;
		position: absolute;
	  	width: 40px;
	  	height: 32px;
		left: 2px;
		top: 2px;
	  	cursor: pointer;
	  	opacity: 0;
	  	z-index: 2;
	}

	nav input:checked ~ span {
	  	opacity: 1;
	  	transform: rotate(45deg) translate(-2px, -1px);
	  	background: #18181B;
	}

	nav input:checked ~ span:nth-last-child(3) {
	  	opacity: 0;
	}

	nav span {
	  	display: block;
	  	width: 33px;
	  	height: 4px;
	  	margin-bottom: 5px;
	  	position: relative;

	  	background: #cdcdcd;
	  	border-radius: 3px;

	  	z-index: 1;

	  	transform-origin: 4px 0px;
	}

	nav span:first-child {
	  	transform-origin: 0% 0%;
	}

	nav span:nth-last-child(2) {
	  	transform-origin: 0% 100%;
	}

	nav input:checked ~ span:nth-last-child(2) {
	  	transform: rotate(-45deg) translate(0, -1px);
	}

	.menu {
	  	position: absolute;
	  	width: 280px;
	  	margin: -50px 0 0 -190px;
	  	padding-left: 50px;
	  	padding-bottom: 20px;
	  	padding-top: 50px;

	  	background: #5F5F5F;

	  	transform-origin: 0% 0%;
	  	transform: translate(0, -100%);

	  	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	.menu li {
	  	padding: 10px 0;
	  	font-size: 22px;
	  	color: white;
	}

	nav input:checked ~ ul {
	  	transform: none;
	}

	#video-player video {
		display: none;
	}

	#solar-reasons {
		margin: 50px auto 10px auto;
		padding: 0 10px 0 10px;
	}

	#solar-products  {
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
	}

	#solar-products article {
		width: 80%;
		margin: 10px auto 10px auto;
	}

	#solar-products a {
		margin: auto;
	}

	#solar-products img {
		width: 120px;
		height: 100px;
		margin: auto;
	}

	#solar-products .product-content {
		display: flex;
		flex-direction: column-reverse;
	}

	#solar-products footer {
		text-align: center;
	}

	/* how solar works styling */

	#how-solar-works {
		grid-template-areas:
			"header"
			"inverter"
			"battery-system"
			"charge-controller"
			"solar-panel"
			"aside-products"
			"footer";
	}

	#dc-power {
		display: none;
	}

	#ac-power {
		display: none;
	}

	#aside-products {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#aside-products img {
		height: 150px;
		width: 180px;
		margin-top: 40px;
	}

	#solar-panel img {
		display: none;
	}

	#inverter img {
		display: none;
	}

	/* solar eu styling */

	#renewable-energy-table {
		margin-top: 20px;
		overflow: auto;
	}

	.aside-products-flex {
		width: 100%;
	}

	#table-info {
		display: none;
	}

	/* contact styling */

	#contact {
		grid-template-areas:
			"header"
			"contact-info"
			"contact-form"
			"aside-products-contact"
			"footer";
	}

	.aside-products-contact {
		width: 100%;
	}
}
